# Django #
*.log
*.pot
*.pyc
__pycache__
migrations
*.pyc
*~
*.swp
accounts/migrations
helper/migrations



# If you are using PyCharm # 
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf


# Environments 
xxx
venv
env
.env 
.venv 