[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-crispy-forms = "*"
whitenoise = "*"
drf-yasg = "*"
xhtml2pdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
