<footer>
  <div class="my-0">
  <div class="row m-1">
    <div class="col-lg-4">
      <div class="card">
        <h3 style="text-align: center;"><b> About us</b></h3>
        {% for about_us in about_us %}
        <div class="card" style="max-height:100px;">
          <div class="card-body">
            <h6>{{about_us.name}}</h6>
            <small>{{about_us.email}}</small>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <h3 style="text-align: center;"><b> Latest posts</b></h3>
        
        {% for latest_post in latest_posts %}
        <div class="card">
          <div class="card-body">
            {{latest_post.href}}
            {{latest_post}}
          </div>
        </div>
        {% endfor %}
          
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <h3 style="text-align: center;"><b> Quick links</b></h3>
        <div style="text-align: center;" class="card" >
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'doctor_signup' %}">Doctor Signup</a></li>
            <li class="list-group-item"><a href="{% url 'posts' %}">All Queries</a></li>
            <li class="list-group-item"><a href="{% url 'postcreate' %}">Create query</a></li>
            <li class="list-group-item"><a href="{% url 'create_ambulance' %}">Add Ambulance</a></li>
            <li class="list-group-item"><a href="#">Optional</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="">
    <div class="card bg-dark" style="text-align: center;">
      <h3  class=""><b> Template licence</b></h3>
      <p>Needs Healthcare</p>
      
    </div>
  </div>
</div>
</footer>