{% extends "doctors_dashboard/base.html" %}

{% block body %}

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <strong>Welcome to doctors dashboard.</strong>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-6">
      <div class="total_appointments m-3">
        <div class="card">
          <h4 class="card-title">Appointments Details</h5>
          <a class="btn btn-outline-info" href="{% url 'total_appointments' %}" title="It will render you in the main website.">Total appointments</a> <br>
          {% if all_appointments != 0 %}
          <a class="btn btn-outline-info" href="#">Pending appointments</a>
          {% else %}
          <h4>There is no pending appointment.</h4>
          {% endif %}
          
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="querys m-3">
        <div class="card">
          <h4 class="card-title">Querys Details</h5>
          <a class="btn btn-outline-info" href="{% url 'posts' %}" title="It will render you in the main website.">Total Querys</a> <br>
          
          {% if answer_query != 0 %}
            <a class="btn btn-outline-info" href="{% url 'unanswer_query' %}">Pending Querys</a>
          {% else %}
            <h4>There is no pending query.</h4>
          {% endif %} 
          
      </div>
      </div>
    </div>
  </div>
</div>

    
{% endblock body %}


    


