{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
    

{% block body %}
<div class="container">
    <h4 class="text-center">All the ambulance.</h4>

    <div class="row">
      {% for data in ambulance %}
      <div class="col-lg-4">
        <div class="card" style="width: 18rem; height: 20rem;">
          <img class="card-img-top" src="{{data.image.url}}" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Driver name: {{data.driver_name}}</h6>
            <small class="card-text">Driver number; {{data.driver_number}}</small>
            <p class="card-text">Location: {{data.location}}</p>
          </div>
        </div> <br>
      </div>
      {% endfor %}
    </div>
    
      
</div>



{% endblock body %}