{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block head %}
    
{% endblock head %}
    

{% block body %}

<div class="container">
    <div class="card m-2">
        <div class="m-2">
            <h6>Name: {{data.name}}</h6>
            <h6>Email: {{data.email}}</h6>
            <h6>Phone: {{data.phone}}</h6>
            <h6>Department: {{data.department}}</h6>
            <h6>Doctor: {{data.doctor}}</h6>

            {% if data.report %}
            <h6>Report:</h6>
                <p><a href="{{data.report.url}}">{{data.report}}</a>.</p>
            {% endif %}
            
            <h6>Description:</h6>
            <p>{{data.describe_your_problems}}</p>
        </div>
    </div>


    {% if request.user.is_doctor %}
        <div class="card">
            <div class="m-2">
                <form method="post">
                {%csrf_token %}
                <h2>Answer Here</h2>
                {{form | crispy}}
                <input type="submit" class="btn btn-success" value="Answer" />
                </form>
            </div>
        </div>
    {% endif %}

    <hr>

 <!-- prescription  -->

    <!-- prescription start  -->
    
    <div class="card">
        <div class="m-2">
            
            <div class="prescription-header">
                <h1 style="text-align: center; color:rgb(7, 77, 30)">Needs Health Care</h1>
                <hr style="border-top: 2px dashed #8c8b8b;">
                <div class="prescription-body">
                    {%for answer in record %}
                    <div class="card">
                        <div class="m-2">
                        <strong> Medicine one: <small> {{answer.medicine_one}}</small></strong> <br><br>
                        <strong> Medicine Two: <small> {{answer.medicine_two}}</small></strong> <br><br>
                        <strong> Medicine Three: <small> {{answer.medicine_three}}</small></strong> <br><br>
                        <strong> Medicine Three: <small> {{answer.medicine_others}}</small></strong> <br><br>
                        <hr>
                        <strong> Advice: <small> {{answer.advice}}</small></strong> <br><br>

                        <a target="_blank" href="{% url 'prescription_pdf' _id=answer.id %}">Download PDF</a> 
                        
                    </div>
                </div>  <br>
    
                    {%endfor %} 
    
                </div>
            </div>
        </div>
        
    </div>
    
    <!-- end prescription   -->

</div>

{% endblock body %}