{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block head %}
<style>
    .card:hover{
    background-color:rgb(210, 210, 210);
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
    box-shadow: inset 140ch 0 0 0 #CCCCCC;
    transform: scale(1.1);
    transition: transform .5s;
    
}
</style>
    
{% endblock head %}
    

{% block body %}
<div class="container">
  <div class="mt-5">
    <div class="row">
      
        {% for data in total %}
        <div class="col-lg-4">
    
            <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{data.name}}</h5>
            <h5 class="card-header">{{data.email}}</h5>
            <h5 class="card-header">{{data.phone}}</h5>
            <small class="card-header">{{data.department}}</small>
            <small class="card-header">{{data.doctor}}</small>
            <div class="card-body sm">
                <!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <a href="{% url 'user_appointments' _id=data.id %}" class="btn btn-primary">Read More</a>
            </div>
      </div>
      <br>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock body %}