{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="m-2">
        <form method="post" id="PatientForm" data-doctors-url="{% url 'ajax_load_doctors' %}" class="form-horizontal" role="form" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form | crispy }}
          <input type="submit" value="Create" class="btn btn-info">
          </form>
        </div>
    </div>

    <div style="text-align:right;" class="col-md-4">
      <div class="m-2">
        <h5>Short Links </h5>
        
        {% if user.is_authenticated %}
          <a href="{% url 'my_appointments' %}">My appointments</a> &nbsp;
        {% endif %}
        <br>
        
        {% if user.is_doctor or user.is_superuser %}
          <a href="{% url 'total_appointments' %}">All appointments</a> &nbsp;
        {% endif %}
        
      </div>
    </div>
  </div>
</div>

{% endblock body %}



{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
  $('#id_department').change(function () {
    const url = $("#PatientForm").attr("data-doctors-url");  
    const departmentId = $(this).val(); 

    $.ajax({                      
      url: url, 
      data: {
          'department_id': departmentId 
      },
      success: function (data) {   
          $("#id_doctor").html(data);
      }
    });
  });
</script>
  
{% endblock script %}
    

    
