<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Needs Health Care </title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        .right {
            text-align: right;
            }
        </style>
</head>
<body>
    <h1 style="text-align: center; color:rgb(7, 77, 30); font-size: 40px;">Needs Health care</h1><br>

    <!-- patient info  -->
    <table>
        <tr>
          <th>Patient Info</th>
          <th class="right">Doctor Info</th>  
        </tr>

        <tr>
          <td><p>Patient name: {{record.patient.user.username}}</p></td>
          <td class="right"> <strong> Doctor name:</strong>  Helen Bennett</td>
        </tr>
        
        <tr>
          <td>Age: {{record.patient.age}}</td>
          <td class="right"> <strong> Department:</strong>  {{record.patient.doctor.department.name}}</td>
        </tr>

        <tr>
          <td>Sex: {{record.patient.sex}}</td>
          <td class="right"> <strong> Date:</strong>  {{record.date}}</td>
        </tr>

      </table> 
<hr>

    <table>
        <tr>
          <th>Medicine Info</th>
          <th class="right">Medication rules</th>  
        </tr>

        <tr>
          <td><p style="font-size: 15px;"><strong>Medicine 1: </strong> {{ record.medicine_one }}</p></td>
          <td class="right"> <strong> Medication:</strong>  {{record.medicine_eating_time}}</td>
        </tr>
        
        <tr>
            <td><p style="font-size: 15px;"><strong>Medicine 2: </strong> {{ record.medicine_two }}</p></td>
        </tr>

        <tr>
            <td><p style="font-size: 15px;"><strong>Medicine 3: </strong> {{ record.medicine_three }}</p></td>
        </tr>
        <tr>
            <td><p style="font-size: 15px;"><strong>Medicine others: </strong> {{ record.medicine_others }}</p></td>
        </tr>
        

      </table>
      <div class="card">
        <p style="font-size: 15px;">Medication rules</p>
        {{ record.medicine_eating_time }}
      </div>
    <hr>

    <div class="card">
        <div class="m-2">
            <h1 style="font-size: 20px;">Medicale Test</h1>
            {{ record.test }}
            <hr>
        </div>
    </div>

    <div class="card">
        <div class="m-2">
            <h1 style="font-size: 20px;">Advice</h1>
            {{ record.advice }}
            
        </div>
    </div>


    
</body>
</html>

