{% extends 'base.html' %}
{% load static %} 
{% block body %} 

<h1 class="display-6 text-center bg-danger m-4">Select the location from where you want to take Ambulance services.</h1>
<div class="container">
  <button type="button" class="btn btn-outline-primary" style="width: 150px;">Mirpur</button> <br><br>
  <button type="button" class="btn btn-outline-secondary" style="width: 150px;">Dhanmondi</button><br><br>
  <button type="button" class="btn btn-outline-success" style="width: 150px;">Uttora</button><br><br>
  <button type="button" class="btn btn-outline-danger" style="width: 150px;">Banani</button><br><br>
  <button type="button" class="btn btn-outline-warning" style="width: 150px;">Farmgate</button><br><br>
</div>




{% endblock body %}
