{% extends 'base.html' %} {% load static %} {% block body %}
<div class="uni-departments">
  <div id="wrapper-container" class="site-wrapper-container">
    <div id="main-content" class="site-main-content">
      <section class="site-content-area">

        <div class="uni-departments-body">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="uni-departments-default">
                  <div class="item-icons">
                    <a href="#"
                      ><img
                        src="{% static 'images/icons_box/icon_1/icon-5.png' %}"
                        alt=""
                        class="img-responsive"
                    /></a>
                  </div>
                  <div class="item-caption">
                    <h4><a href="#">cardiology</a></h4>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames ac turpis egestas adipisicing.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="uni-departments-default">
                  <div class="item-icons">
                    <a href="#"
                      ><img
                        src="{% static 'images/icons_box/icon_1/icon-4.png' %}"
                        alt=""
                        class="img-responsive"
                    /></a>
                  </div>
                  <div class="item-caption">
                    <h4><a href="#">Neurology</a></h4>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames ac turpis egestas adipisicing.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="uni-departments-default">
                  <div class="item-icons">
                    <a href="#"
                      ><img
                        src="{% static 'images/icons_box/icon_1/icon-3.png' %}"
                        alt=""
                        class="img-responsive"
                    /></a>
                  </div>
                  <div class="item-caption">
                    <h4><a href="#">Orthopedics</a></h4>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames ac turpis egestas adipisicing.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="uni-departments-default">
                  <div class="item-icons">
                    <a href="#"
                      ><img
                        src="{% static 'images/icons_box/icon_1/icon-2.png' %}"
                        alt=""
                        class="img-responsive"
                    /></a>
                  </div>
                  <div class="item-caption">
                    <h4><a href="#">cancer department</a></h4>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames ac turpis egestas adipisicing.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="uni-departments-default">
                  <div class="item-icons">
                    <a href="#"
                      ><img
                        src="{% static 'images/icons_box/icon_1/icon-1.png' %}"
                        alt=""
                        class="img-responsive"
                    /></a>
                  </div>
                  <div class="item-caption">
                    <h4><a href="#">Ophthalmology</a></h4>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames ac turpis egestas adipisicing.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="uni-departments-default">
                  <div class="item-icons">
                    <a href="#"
                      ><img
                        src="{% static 'images/icons_box/icon_1/icon.png' %}"
                        alt=""
                        class="img-responsive"
                    /></a>
                  </div>
                  <div class="item-caption">
                    <h4><a href="#">Respiratory</a></h4>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et
                      malesuada fames ac turpis egestas adipisicing.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
