<div class="uni-home-opening-book">
      <div class="container">
        <div class="uni-home-opening-book-content">
          <div class="row">
            <div class="col-md-12">
              <div class="uni-single-department-appointment-form">
                <div class="uni-home-title">
                  <h3>Create Query</h3>
                  <div class="uni-underline"></div>
                </div>

                <form action="#">
                  <div class="row">
                    <div class="container">
                      <div class="col-md-5">
                        <div class="input-group form-group">
                          <span class="input-group-addon"
                            ><i class="fa fa-user" aria-hidden="true"></i
                          ></span>
                          <input
                            type="text"
                            class="form-control"
                            name="name"
                            value=""
                            placeholder="your name"
                          />
                        </div>
                        <div class="input-group form-group">
                          <span class="input-group-addon"
                            ><i class="fa fa-phone" aria-hidden="true"></i
                          ></span>
                          <input
                            type="tel"
                            class="form-control"
                            name="phone"
                            value=""
                            placeholder="phone number"
                          />
                        </div>
                        <div class="input-group form-group">
                          <span class="input-group-addon"
                            ><i class="fa fa-envelope" aria-hidden="true"></i
                          ></span>
                          <input
                            type="email"
                            class="form-control"
                            name="email"
                            value=""
                            placeholder="email"
                          />
                        </div>
                        <div class="input-group form-group">
                          <div
                            class="input-group date date-check-in"
                            data-date="12-02-2017"
                            data-date-format="mm-dd-yyyy"
                          >
                            <span class="input-group-addon"
                              ><i class="fa fa-calendar" aria-hidden="true"></i
                            ></span>
                            <input
                              name="date1"
                              class="form-control"
                              type="text"
                              value="12-02-2017"
                            />
                            <span class="input-group-addon btn"
                              ><i
                                class="fa fa-calendar"
                                id="ti-calendar1"
                                aria-hidden="true"
                              ></i
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="mb-3">
                          <select
                            class="form-select form-select-sm"
                            aria-label=".form-select-sm example"
                          >
                            <option selected>Select Department</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>

                        <div class="input-group form-group">
                          <textarea
                            id="message"
                            name="message"
                            class="form-control"
                            placeholder="Describe all the deatils."
                          ></textarea>
                        </div>
                        <div class="d-grid gap-2 mb-2">
                          <button class="btn btn-outline-primary" type="button">
                            Send
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>