<div class="uni-home-opening-book">
      <div class="container">
        <div class="uni-home-opening-book-content">
          <div class="row">
            <div class="col-md-12">
              <div class="uni-single-department-appointment-form">
                <div class="uni-home-title">
                  <h3>Create Query</h3>
                  <div class="uni-underline"></div>
                </div>

                <form action="#">
                  <div class="row">
                    <div class="container">
                      <div class="col-md-5">
                        <div class="input-group form-group">
                          <span class="input-group-addon"
                            ><i class="fa fa-user" aria-hidden="true"></i
                          ></span>
                          <input
                            type="text"
                            class="form-control"
                            name="qname"
                            value=""
                            placeholder="your name"
                          />
                        </div>
                        <div class="input-group form-group">
                          <span class="input-group-addon"
                            ><i class="fa fa-phone" aria-hidden="true"></i
                          ></span>
                          <input
                            type="tel"
                            class="form-control"
                            name="qphone"
                            value=""
                            placeholder="phone number"
                          />
                        </div>
                        <div class="input-group form-group">
                          <span class="input-group-addon"
                            ><i class="fa fa-envelope" aria-hidden="true"></i
                          ></span>
                          <input
                            type="email"
                            class="form-control"
                            name="qemail"
                            value=""
                            placeholder="email"
                          />
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="mb-3">
                          <select
                            class="form-select form-select-sm"
                            aria-label=".form-select-sm example">
                            
                            <option selected>Select Department</option>
                            {% for dep in CreateQuery.department %}
                              <option value="{{dep.name}}">{{dep.name}}</option>
                            {% endfor %}
                          </select>
                        </div>

                        <div class="input-group form-group">
                          <textarea
                            id="message"
                            name="qmessage"
                            class="form-control"
                            placeholder="Describe all the deatils."
                          ></textarea>
                        </div>
                        <div class="d-grid gap-2 mb-2">
                          <button class="btn btn-outline-primary" type="button">
                            Send
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>