{% extends 'base/base.html' %} 
{% load crispy_forms_tags %} 

{% block body %}

    <div class="container">
        <div class="card m-2">
            <div class="m-2">
                <h5>Title: {{data.post_title}}</h5> <br>
                <h5>Description:</h5>
                <p>{{data.descriptions}}</p>
            </div>
        </div>

        {% if request.user.is_doctor %}
            <div class="card">
                <div class="m-2">
                        <form method="post">
                        {%csrf_token %}
                        <h2>Answer Here</h2>
                        {{form | crispy}}
                        <input type="submit" class="btn btn-success" value="Answer" />
                        </form>
                </div>
            </div>
        {% endif %}

        <hr>
        
        
        {% if number_of_answer %}
        <h4 class="text-center">All the answers from doctors.</h4>
            <h5 style="color:rgb(150, 185, 93);" class="text">Total {{ number_of_answer }} answers.</h5>
        {% else %}
        <h5 style="color:red;">There is no answer from doctors yet.</h5>
            
        {% endif %}
            
        
        
        {%for answer in answers%}
        
        <div class="card mt-1">
            <div class="m-2">
                <p><strong>{{answer.name}}:</strong> {{answer.answer_text}}</p>
            </div>
        </div>
            
        {%endfor %} 

    </div>
{% endblock body %}
